<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
        
    body.login
        .contenedor-formulario
            h1=nombrePagina
            
            p Coloca tu nuevo Password
            
            form(class="caja-login" method="post")
                .campo
                    label(for="password") Password
                    input(name='password' type="password" placeholder="Tu Password" required value=password)
                .campo.enviar
                    input.boton(type="submit" value="Reestablecer Password")